@media (max-width:390px){
  .homepage {
    height: 100vh;
    weight: 100vw;
    background: linear-gradient(122.19deg, #da20ac 1.89%, #00aad5 113.56%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
}

@media (max-width:390px){
  .todo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
}

@media (max-width:801px){
  .add-confirm-icon {
    position: absolute;
    transform: scale(2);
    top: 90px;
    left: 300px;
    cursor: pointer;
  }
}

@media (max-width:390px){
  .add-confirm-icon {
    position: absolute;
    transform: scale(2);
    top: 90px;
    left: 100px;
    cursor: pointer;
  }
}
@media (max-width:590px){
  .todo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
}

@media (max-width:590px){
  .add-edit-input {
    width: 100%;
    position: absolute;
    top: 20px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
  }
}

@media (max-width:1246px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 100px;
  left: 46px;
  top: 155px;
  position: absolute;
  color: white;
  }
}

@media (max-width:1009px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 80px;
  left: 46px;
  top: 155px;
  position: absolute;
  color: white;
  }
}
@media (max-width:919px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 50px;
  left: 46px;
  top: 155px;
  position: absolute;
  color: white;
  }
}
@media (max-width:794px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 50px;
  left: 280px;
  top: 155px;
  position: absolute;
  color: white;
  }
}

@media (max-width:520px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 30px;
  left: 350px;
  top: 155px;
  position: absolute;
  color: white;
  }
}

@media (max-width:414px){
  .welcome > h1 {
  width: 100%;
  font-family: "Changa One";
  font-weight: normal;
  font-size: 30px;
  left: 230px;
  top: 155px;
  position: absolute;
  color: white;
  }
}

@media (max-width:1246px){
  .todo-svg {
    position: absolute;
    width:550px;
    /* bottom: 50px; */
    right: 50px;
    transform: scale(0.9, 0.9); 
  }
}

@media (max-width:794px){
  .todo-svg {
    position: absolute;
    width:500px;
    /* bottom: 50px; */
    right: 50px;
    transform: scale(0.9, 0.9); 
  }
}

@media (max-width:415px){
  .todo-svg {
    position: absolute;
    width:350px;
    /* bottom: 50px; */
    right: 50px;
    transform: scale(0.9, 0.9); 
  }
}